.ScannerWrapper {
    padding: 20px;
    margin: 20px;
    background-color: var(--global-canvas-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--global-border-radius-1);
    width: 95%;
    height: 100%;
}

.ScannerIcon {
    height: 50px;
    width: 50px;
    justify-content: center;
    display: flex;
}

.ScannerText {
    justify-content: center;
    text-align: center;
    color: var(--global-light-text);
    font-size: 18px;
    font-weight: 400;
}