.TableWrapper {
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 0 15px #9122a0, 0 0 5px #9122a0, 0 0 2px #9122a0, 0 0 5px #9122a0, 0 0 5px #bcbcbc;
    
}

.SpinnerLoaderTimeframe {
    position: absolute;
    z-index: 1000;
    top: 17.5%;
    left: 50%;
    transform: translate(-25%, -50%);
}